<header>
  <link rel="stylesheet" href="/css/header.css" />

  <a href="/seller/"><h1>Rent Space</h1></a>

  <% if(locals.user){ %>
  <p><%= user.name %></p>
  <p class="h-btn"><a href="/auth/sign-out">Sign Out</a></p>
  <p class="h-btn"><a href="/auth/password-check">Reset Password</a></p>
  <% } else { %>
  <p class="h-btn"><a href="/auth/signin">Sign in</a></p>
  <p class="h-btn"><a href="/auth/signup">Sign up</a></p>
  <% } %>
</header>
