<link rel="stylesheet" href="/css/property_cards.css" />


<div id="property-container">

    <a id="add-btn" href="/property/form?type=add">
        <div class="property-item add-btn">
        <span class="card-title" >Add New Property</span>
            <img width=200px height=160px></img>
            A big Plus button
        </div>
    </a>
    
    <div class="property-item">
        <img width=200px height=160px></img>
        <span class="card-title">Title</span>
        <a href="#" class="application-count" count=""><button> Applications: 0</button></a>
        <div class="card-btn-container">
          <a href="/property/form?type=edit&id=ID"><button>Edit</button></a>
          <a href="#"><button>Delete</button></a>
        </div>
    </div>


    <div class="property-item">
        <img width=200px height=160px></img>
        <span class="card-title">Title</span>
        <a href="#" class="application-count" count=""><button> Applications: 0</button></a>
        <div class="card-btn-container">
          <a href="/property/form?type=edit&id=ID"><button>Edit</button></a>
          <a href="#"><button>Delete</button></a>
        </div>
    </div>

    <div class="property-item">
        <img width=200px height=160px></img>
        <span class="card-title">Title</span>
        <a href="#" class="application-count" count=""><button> Applications: 0</button></a>
        <div class="card-btn-container">
          <a href="/property/form?type=edit&id=ID"><button>Edit</button></a>
          <a href="#"><button>Delete</button></a>
        </div>
    </div>


    <div class="property-item">
        <img width=200px height=160px></img>
        <span class="card-title">Title</span>
        <a href="#" class="application-count" count=""><button> Applications: 0</button></a>
        <div class="card-btn-container">
          <a href="/property/form?type=edit&id=ID"><button>Edit</button></a>
          <a href="#"><button>Delete</button></a>
        </div>
    </div>


    <div class="property-item">
        <img width=200px height=160px></img>
        <span class="card-title">Title</span>
        <a href="#" class="application-count" count=""><button> Applications: 0</button></a>
        <div class="card-btn-container">
          <a href="/property/form?type=edit&id=ID"><button>Edit</button></a>
          <a href="#"><button>Delete</button></a>
        </div>
    </div>


    <div class="property-item">
        <img width=200px height=160px></img>
        <span class="card-title">Title</span>
        <a href="#" class="application-count" count=""><button> Applications: 0</button></a>
        <div class="card-btn-container">
          <a href="/property/form?type=edit&id=ID"><button>Edit</button></a>
          <a href="#"><button>Delete</button></a>
        </div>
    </div>



</div>
