<link rel="stylesheet" href="/css/layout.css" />
<link rel="stylesheet" href="/css/home.css" />

<div class="home-container">
  <h1>Your Property Ads:</h1>

  <%- include('_property_cards') %>

  <div id="dummy"></div>
</div>
