<link rel="stylesheet" href="/css/form_style.css">

<div class="background">
    <div class="form-container">
        <form action="/user/reset-password" method="POST">
            
            <label for="confirm_password">Confirm Password</label><br>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Enter password" required></input>
            <br>
            <button type="submit" class="btn btn-primary">Confirm</button>
        
        </form>
    </div>
</div>