footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    display: flex;
    background-color: cornflowerblue;
    box-shadow: 0px 0px 15px 0px #00417e;

    p{
        margin: auto;
        display: inline-block;
    }

}