.background {
  background: url("/image/background_hexagonal.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  .form-container {
    margin: auto;
    position: absolute;
    top: 17vh;
    left: 10vh;
    padding: 30px;
    background-color: cornflowerblue;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;

    p {
      a {
        text-decoration: none;
        color: blue;
      }
    }
  }
}
